@import "tailwindcss";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
